.banners {
    max-width: 100%;
    border-color: white;
    border-width: 10px;
    border-style: solid;
}

.bottomPic {

	margin-top: 30px;
}

.firstBanner {
    
    text-align: center;
	margin-bottom: 30px;
	margin-top: 130px;
}

.navbar-nav>li>a {

	padding-top: 40px;
	padding-bottom: 0px;

}

.navbar-brand {

	height: 100px;
}

.dropdown-menu>li>a {

	padding: 15px 20px;
}

.navbar-nav>li>.dropdown-menu {

	margin-top: 10px;

}

.missionStatement {
	
	background-image: url("../images/stars.png");
	background-repeat: repeat;
	color: white;
	background-color: #2f7fd0;
	margin-top: 30px;
	margin-bottom: 30px;
	border-color: white;
    border-width: 10px;
    border-style: solid;
    padding: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;

}

h3 {

	text-align: center;
	margin-bottom: 30px;
}

.clickable {

	display: inline-block;
    background: #060606;
    padding: 0;
}

.clickable img {
    display: block;
    
    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
}

.clickable:hover {
    opacity: 0.7;
            
}

.socialMedia {

	text-align: center;
    background-color: #060606;
    padding-top: 50px;
    padding-bottom: 50px;
}

.store {

    background-color: white;
    padding: 20px;
}

#success_message{ display: none;}

legend {

    text-align: center;
}

.btn-warning {

    background-color: #2A9FD6;
    border-color: #2A9FD6;
}

.btn-warning:hover {

    background-color: #E7182E;
    border-color: #E7182E;

}

@media handheld,
screen and (max-width: 640px) {

    .banners {

        border-width: 1px;

    }
    
    .picTitles {
        
        font-size: 7pt;
        top: 5px;
        left: 22px;

    }
    .picTitlesBottom1 {

        font-size: 7pt;
        top: 32px;
        left: 27px;

    }
    .picTitlesBottom2 {

        font-size: 7pt;
        top: 32px;
        left: 30px;

    }

    .missionStatement {

        border-width: 1px;
    }
    
}


/* Tablet Screen Size Begin */

@media only screen and (min-width: 640px) and (max-width: 768px) {

    .banners {

        border-width: 5px;

    }
    
    .picTitles {
        
        font-size: 15pt;
        top: 30px;
        left: 28px;

    }
    .picTitlesBottom1 {

        font-size: 15pt;
        top: 55px;
        left: 38px;

    }
    .picTitlesBottom2 {

        font-size: 15pt;
        top: 57px;
        left: 42px;

    }

    .missionStatement {

        border-width: 5px;
    }
    
}


/* Tablet Screen Size End */


@media screen and (min-width: 768px) and (max-width: 980px) {

    .banners {

        border-width: 5px;

    }
    
    .picTitles {
        
        font-size: 22pt;
        top: 35px;
        left: 30px;

    }
    .picTitlesBottom1 {

        font-size: 22pt;
        top: 65px;
        left: 40px;

    }
    .picTitlesBottom2 {

        font-size: 22pt;
        top: 67px;
        left: 50px;

    }

    .missionStatement {

        border-width: 5px;
    }
}

@media handheld,
screen and (min-width: 980px) and (max-width: 1280px) {

    .banners {

        border-width: 8px;

    }
    
    .picTitles {
        
        font-size: 25pt;
        top: 50px;
        left: 42px;

    }
    .picTitlesBottom1 {

        font-size: 25pt;
        top: 80px;
        left: 57px;

    }
    .picTitlesBottom2 {

        font-size: 25pt;
        top: 82px;
        left: 67px;

    }

    .missionStatement {

        border-width: 8px;
    }
}

@media handheld,
screen and (min-width: 1280px) and (max-width: 1375px) {

    .banners {

        border-width: 10px;

    }
    
    .picTitles {
        
        font-size: 30pt;
        top: 90px;
        left: 55px;

    }
    .picTitlesBottom1 {

        font-size: 30pt;
        top: 110px;
        left: 75px;

    }
    .picTitlesBottom2 {

        font-size: 30pt;
        top: 112px;
        left: 90px;

    }

    .missionStatement {

        border-width: 10px;
    }
    
}